


body{
    background: lightgrey;
}
h1{
    color: teal;
}
h2{
    color:teal;
    text-align: center;
}
.text_adjust{
    color: white;
    font-size-adjust: 24;
}

.image{
    float: left;
}

/**Background for media query*/
@media (max-width: 600px) {
    .body{
        background-color: white;
    }
}